/*后代选择器用于对满足条件的后代元素进行修饰,其格式为条件 条件*/
.programming .backend#golang {
    background-color: gray;
    color: aquamarine;
}
/*子元素选择器用于对满足条件的子代元素进行修饰，其格式为父元素>子元素*/
.programming>.backend #java{
    color: chocolate;
}
/*兄弟选择器对于满足条件的兄弟元素进行修饰，有两种兄弟选择器，分别是相邻兄弟选择器和通用兄弟选择器*/
/*相邻兄弟选择器在元素中使用+连接，选中下方第一个标签进行判定，通用兄弟选择器用～连接，选中所有满足条件的兄弟*/
/*两种兄弟选择器选择的都是下方的元素*/
.animal #dog1+p{
    background-color: violet;
}
.plant #plant1~p{
    background-color: bisque;
}
