/*第一个代表红色，第二个代表绿色，第三个代表蓝色，第四个代表透明度（红绿蓝取值在0-255，透明取值在0-1）*/
h1 {
    color: rgba(255, 0, 0,1);
}
h2 {
    color: rgba(0, 255, 0,0.8);
}
h3 {
    color: rgba(0, 0, 255,0.6);
}
h4 {
    color: rgba(255, 255, 255,0.4);
}
h5 {
    color: rgba(0, 0, 0,0.2);
}
h6 {
    color: rgba(255, 255, 255,0.0);
}